# Linear Regression

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('Startups_Expense.csv')

In [3]:
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [7]:
df1 = pd.get_dummies(df.State,dtype=int,drop_first=True)

In [8]:
df1.head()

   Florida  New York
0        0         1
1        0         0
2        1         0
3        0         1
4        1         0

In [9]:
df = pd.concat([df1,df],axis=1)

In [10]:
df.drop('State',axis=1,inplace=True)

In [11]:
df.head()

   Florida  New York  R&D Spend  Administration  Marketing Spend     Profit
0        0         1  165349.20       136897.80        471784.10  192261.83
1        0         0  162597.70       151377.59        443898.53  191792.06
2        1         0  153441.51       101145.55        407934.54  191050.39
3        0         1  144372.41       118671.85        383199.62  182901.99
4        1         0  142107.34        91391.77        366168.42  166187.94

In [12]:
x = df.iloc[:,:-1]
y = df.iloc[:,[5]]

In [13]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25)

In [14]:
from sklearn.linear_model import LinearRegression
regression = LinearRegression()
regression.fit(x_train,y_train)

LinearRegression()

In [16]:
y_pred =regression.predict(x_test)

In [18]:
from sklearn.metrics import r2_score
score = r2_score(y_test,y_pred)

In [19]:
score

0.9290690098410861